*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body{
    background: #0d093d;
    color: white;

}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 25px;
    color: rgb(246, 249, 252);
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    text-decoration: none;
    font-size: 18px;
    font-weight:500px;
    color: rgb(250, 242, 242);
    margin-left: 25px;
    transition: .3s;
}

.navbar a:hover{
    color: rgb(253, 56, 7);

}
.home{
    height: 100vh;
    display: flex;
    padding: 10%;
}

.home-content{
    background-color:transparent;
}